
/code/pic/12F508/gcsc_ii/build
/code/pic/12F508/gcsc_ii/dist
/code/pic/18F45K20/gcsc_ii/dist
/code/pic/18F45K20/gcsc_ii/build
/code/pic/12F508/gcsc_ii/funclist
/code/pic/12F508/gcsc_ii/nbproject/Makefile-default.mk
/code/pic/12F508/gcsc_ii/nbproject/Makefile-impl.mk
/code/pic/12F508/gcsc_ii/nbproject/Makefile-variables.mk
/code/pic/12F508/gcsc_ii/nbproject/Package-default.bash
/code/pic/18F45K20/gcsc_ii/nbproject/Makefile-default.mk
/code/pic/18F45K20/gcsc_ii/nbproject/Makefile-impl.mk
/code/pic/18F45K20/gcsc_ii/nbproject/Makefile-variables.mk
/code/pic/18F45K20/gcsc_ii/nbproject/Package-default.bash
/images/Thumbs.db
/images/gcsc-ii.skb
/code/pic/18F45K20/gcsc_ii/funclist
/images/wiki/Thumbs.db
/schematics/*.b#1

/schematics/gcsc_ii.b#2
/schematics/gcsc_ii.b#3
/schematics/gcsc_ii.b#4
/schematics/gcsc_ii.b#5
/schematics/gcsc_ii.b#6
/schematics/gcsc_ii.b#7
/schematics/gcsc_ii.b#8
/schematics/gcsc_ii.b#9

/schematics/gcsc_ii.dri
/schematics/gcsc_ii.gpi
/schematics/gcsc_ii.s#1
/schematics/gcsc_ii.s#2
/schematics/gcsc_ii.s#3
/schematics/gcsc_ii_UpdatePartNumAttributes.scr
